<div class="row">
  <div class="col">
    <% errors.each do |field, error| %>
      <div class="alert alert-danger">
        <%= [field.to_s.humanize, error].join(' ') %>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col">
    <%= form_with url: conversions_path, local: true, method: :get,
      html: {class: 'kform-inline'}  do |f| %>
      <%= f.label :base_currency do %>
        Base currency:
        <%= f.select :base_currency, options_for_select(currencies, conversion[:base_currency] ), {}, class: 'form-control' %>
      <% end %>
      <%= f.label :target_currency do %>
        Target currency:
        <%= f.select :target_currency, options_for_select(currencies, conversion[:target_currency]), {}, class: 'form-control' %>
      <% end %>
      <%= f.label :amount do %>
        Amount:
        <%= f.text_field :amount, value: conversion[:amount], class: 'form-control' %>
      <% end %>
      <%= f.label :max_wait do %>
        Max wait time (weeks):
        <%= f.select :max_wait, options_for_select(wait_times, conversion[:max_wait]), {}, class: 'form-control' %>
      <% end %>
      <%= f.submit 'Calculate', class: 'form-control btn btn-primary' %>
    <% end %>
  </div>
</div>

<% if predictions.present? %>
  <%= render partial: 'prediction_list', locals: {predictions: predictions} %>
<% end %>
